body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

#todo-error {
  color: red;
  font-size: 2em;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-shadow {
  text-shadow: 1px 1px 2px #464646;
}

.action {
  cursor: pointer;
}

.text-light {
  color: whitesmoke;
  text-shadow: 2px 2px black;
  font-weight: bold;
}

.bottom {
  vertical-align: bottom;
}

.extra {
  display: none;
  transition: 2s;
  transition-timing-function: ease-in-out;
}
span:hover .extra {
  display: inline-block;
  transition: 10s;
  transition-timing-function: ease-in-out;
}
