body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-error {
  color: red;
  font-size: 2em;
}

.list-container {
  max-height: 30vh;
  overflow-y: scroll;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-shadow {
  text-shadow: 1px 1px 2px #464646;
}

.action {
  cursor: pointer;
}

.text-light {
  color: rgb(236, 236, 236);
  text-shadow: 2px 2px rgba(17, 17, 17, 0.37);
  font-weight: bold;
}

.bottom {
  vertical-align: bottom;
}

.extra {
  display: none;
  transition: 2s;
  transition-timing-function: ease-in-out;
}
#quote:hover .extra {
  display: inline-block;
  transition: 10s;
  transition-timing-function: ease-in-out;
}

.hidden {
  display: none;
}
